.movies-card-list {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 70px*2);
  margin: 0 auto;
  padding-top: 84px;
}

.movies-card-list__container {
  display: grid;
  row-gap: 24px;
  column-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}