.movies-card-list {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 70px*2);
  margin: 0 auto;
  padding-top: 70px;
}

.movies-card-list__container {
  display: grid;
  row-gap: 24px;
  column-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(autofit, 1fr);
}

@media screen and (max-width: 769px) {
  .movies-card-list {
    max-width: calc(100% - 30px*2);
  }
  
  .movies-card-list__container {
    display: grid;
    row-gap: 30px;
    column-gap: 36px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .movies-card-list {
    max-width: calc(100% - 10px*2);
    padding-top: 40px;
  }
  
  .movies-card-list__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}