.profile {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  margin: 0 auto;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  padding: 74px 0 123px;
}

.profile__input-label {
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.profile__input-label:last-child {
  margin-bottom: 0;
}

.profile__input {
  max-width: 122px;
  height: 14px;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 11px;
  line-height: normal;
  font-weight: 400;
  color: #000;
  text-align: right;
}

.profile__link {
  color: #ee3465;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.profile__link:hover {
  opacity: 0.7;
}

.profile__edit {
  color: #000;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  padding: 220px 0 16px;
  border: none;
  transition: opacity 0.3s ease-in-out;
}

.profile__edit:hover {
  opacity: 0.7;
}

@media screen and (max-width: 450px) {
  .profile {
    max-width: calc(100% - 30px * 2);
  }

  .profile__title {
    text-align: center;
    padding: 70px 0 80px;
  }

  .profile__link {
    font-size: 12px;
    padding-bottom: 40px;
  }

  .profile__edit {
    color: #000;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
  }
}
