.portfolio {
  max-width: calc(100% - 70px * 2);
  margin: 0 auto;
  min-height: 425px;
}

.portfolio__head {
  color: #a0a0a0;
  font-size: 18px;
  line-height: 1.11;
  margin: 100px 0 50px;
  font-weight: 400;
}

.portfolio__links {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
  list-style: none;
}

/* .portfolio__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
} */

.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-decoration: none;
  color: #000;
  transition: opacity .3s ease-in-out;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__link-title {
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -1.2px;
  font-weight: 400;
  margin: 0;
}

.portfolio__link-icon {
  width: 29px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/link-icon.svg");
}

@media screen and (max-width: 805px) {
  .portfolio {
    max-width: calc(100% - 50px * 2);
    min-height: 390px;
  }

  .portfolio__head {
    margin-top: 91px;
  }

  .portfolio__link-title {
    font-size: 28px;
    line-height: 1.79;
    letter-spacing: -1.12px;
  }
  
  .portfolio__link-icon {
    width: 27px;
    height: 60px;
    background-size: auto;
  }
}

@media screen and (max-width: 450px) {
  .portfolio {
    max-width: calc(100% - 14px * 2);
    min-height: auto;
  }

  .portfolio__head {
    margin: 70px 0 40px;
    font-size: 14px;
    line-height: 1.43;
  }

  .portfolio__links {
    gap: 40px;
  }

  .portfolio__link-title {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: -0.72px;
  }
  
  .portfolio__link-icon {
    width: 18px;
    height: 28px;
    background-size: 65%;
  }

  .portfolio__container {
    padding-bottom: 50px;
  }
}