.promo {
  background-color: #465dff;
}

.promo__container {
  max-width: calc(100% - 70px * 2);
  margin: 0 auto;
  padding: 75px 0;
  display: flex;
}

.promo__description {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  padding-right: 190px;
}

.promo__title {
  grid-area: title;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  margin: 0;
  padding-bottom: 36px;
}

.promo__subtitle {
  grid-area: subtitle;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  margin: 0;
  padding-bottom: 146px;
  max-width: 310px;
}

.promo__logo {
  width: 310px;
  height: 304px;
  background-image: url(../../images/promo-logo.svg);
}

.promo__btn {
  width: 129px;
  height: 36px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.33;
}
