.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navigation_hidden {
  display: none;
}

.navigation__items {
  list-style: none;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navigation__link {
  margin: 0;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.38;
  text-decoration: none;
}

.navigation__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  align-self: flex-end;
  text-decoration: none;
}

.navigation__profile-link {
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  font-weight: 500;
  color: black;
  margin: 0;
}

.navigation__profile-logo {
  width: 26px;
  height: 30px;
  background-image: url(../../images/icon_profile.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 769px) {
  .navigation {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .navigation__menu {
    width: 100%;
  }

  .navigation__items {
    padding-top: 145px;
  }

  .navigation__item {
    margin: 0 0 25px 0;
  }

  .navigation__link {
    padding: 0 0 7px 0;
  }

  .navigation__profile {
    margin-bottom: 47px;
  }
}
