.search__form {
  padding: 70px 70px 45px 75px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.search__icon {
  background-image: url(../../images/search.svg);
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  background-position: center;
}

.search__field {
  font-family: inherit;
  color: #a0a0a0;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  padding: 0;
}

.search__btn {
  background-image: url(../../images/find.svg);
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  border: none;
}

@media screen and (max-width: 769px) {
  .search__form {
    padding: 86px 30px 45px;
  }

  .search__field {
    max-width: calc(100% - 70px);
  }
}

@media screen and (max-width: 450px) {
  .search__form {
    padding: 92px 14px 60px;
    justify-content: flex-start;
  }

  .search__icon {
    display: none;
  }

  .search__field {
    text-align: start;
    font-size: 18px;
    max-width: calc(100% - 34px);
  }
}