.preloader,
.preloader::after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.preloader {
  margin: 60px auto;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(190, 190, 190, 0.5);
  border-right: 5px solid rgba(190, 190, 190, 0.5);
  border-bottom: 5px solid rgba(190, 190, 190, 0.5);
  border-left: 5px solid rgba(0, 0, 0, .75);
  transform: translateZ(0);
  animation: loader 1.25s infinite linear;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}