.header {
  max-width: calc(100% - 70px * 2);
  margin: 0 auto;
  min-height: 74px;
  display: grid;
  grid-template-columns: 38px 1fr;
  gap: 44px;
  align-items: center;
}

.header__logo-link {
  width: 38px;
  height: 38px;
  background-image: url(../../images/logo_header.svg);
  background-size: cover;
  background-position: center;
}

.header__main {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
}

.header__main-link {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  transition: opacity .3s ease-in-out;
}

.header__main-link_active {
    color: #000;
    width: 76px;
    height: 32px;
    border-radius: 3px;
    background: #2be080;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__link:hover {
  opacity: 0.7;
}

.header__container {
  display: flex;
  justify-content: space-between;
}