.about-me {
  max-width: calc(100% - 70px * 2);
  margin: 0 auto;
}

.about-me__header {
  margin: 110px 0 66px;
  border-bottom: 1px solid black;
}

.about-me__header-text {
  font-size: 22px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: -0.88px;
  padding-bottom: 23px;
  margin: 0;
}

.about-me__note {
  max-height: 327px;
  display: grid;
  grid-template-columns: 1fr 270px;
  grid-template-rows: 58px 20px 150px 1fr;
  gap: 18px;
  grid-template-areas:
    "name avatar"
    "about avatar"
    "description avatar"
    "link avatar";
}

.about-me__name {
  grid-area: name;
  font-size: 50px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: -2px;
  margin: 0;
}

.about-me__job {
  grid-area: about;
  font-size: 18px;
  line-height: 1.11;
  font-weight: 500;
  margin: 0;
}

.about-me__description {
  grid-area: description;
  font-size: 14px;
  line-height: 1.57;
  max-width: 600px;
  margin: 0;
  padding-top: 8px;
}

.about-me__link {
  grid-area: link;
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  margin: 0;
  align-self: flex-end;
  text-decoration: none;
  color: #000;
}

.about-me__avatar {
  grid-area: avatar;
  max-width: 270px;
  min-height: 327px;
  border-radius: 10px;
}

@media screen and (max-width: 769px) {
  .about-me {
    max-width: calc(100% - 50px * 2);
  }

  .about-me__header {
    margin: 90px 0 66px;
  }

  .about-me__note {
    max-height: 307px;
    grid-template-columns: 1fr 255px;
    grid-template-rows: 40px 20px 150px 1fr;
    gap: 16px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1.6px;
  }

  .about-me__job {
    font-size: 12px;
    line-height: 1.5;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 1.5;
    max-width: 364px;
    padding-top: 0;
  }

  .about-me__avatar {
    max-width: 255px;
    min-height: 307px;
  }
}

@media screen and (max-width: 450px) {
  .about-me {
    max-width: calc(100% - 14px * 2);
  }

  .about-me__header {
    margin: 70px 0 60px;
  }

  .about-me__header-text {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }

  .about-me__note {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .about-me__name {
    font-size: 30px;
    letter-spacing: -1.2px;
    padding: 20px 0 0;
  }

  .about-me__job {
    font-size: 11px;
    line-height: 1.45;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 1.45;
    max-width: 100%;
    padding: 0 0 20px;
  }

  .about-me__avatar {
    max-width: 292px;
    min-height: 352px;
  }

  .about-me__link {
    align-self: flex-start;
  }
}
